body{
  font-family: 'Fira Sans', 'sans-serif';
}


#counter1:not(.is-visible) {
	visibility: hidden;
}
#counter2:not(.is-visible) {
	visibility: hidden;
}#counter3:not(.is-visible) {
	visibility: hidden;
}

.icons-header {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#f7f3f3;

  p {
    color:rgb(128, 124, 124);
    font-size: 20px;
    font-weight: bold;
  }
}

.icons-cards {
  height: 400px;
  width: 100%;
  background-color: #f7f3f3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2{
    font-size: 20px;
    color: #54BEBC;
  }

  h4 {
    color: rgb(128, 124, 124);
    font-size: 15px;
    // cinza rgb(128, 124, 124)
  }
}

.icons-card-category {
  // padding: 20px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // color: rgb(122, 119, 119);
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h2 {
    text-align: center;
    color:  #EE6780;
    // rosa #EE6780
    font-size: 50px;
    font-weight: bold;

  }

  h4 {
    color: rgb(128, 124, 124);
    font-size: 15px;
    // cinza rgb(128, 124, 124)
  }

  
  p {
    color:rgb(105, 102, 102);
    font-size: 20px;
    // font-weight: bold;
  }
}

.icon-image {
  height:100px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}


.image-strip {
  font-size: 60px;
  font-weight:400;
  /* The image used */
  background-image: image-url('9_1.png');
  /* Set a specific height */
  height: 180px;
  .img { max-width: 100%; height: auto; }

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.image-strip2 {
  font-size: 60px;
  font-weight:400;
  /* The image used */
  background-image: image-url('9_1.png');
  /* Set a specific height */
  height: 180px;
  .img { max-width: 100%; height: auto; }

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bg-white{
  background-color: white;
  border-style: ridge;
  h2{
    font-size: 20px;
  }
}

h6{
  font-size: 20px;
}

.map{
  width: 100%;
  height: 300px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .icon-image {
    height:60px;
    width: 60px;
  
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }  
  .map{
    height: 200px;
  }  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .icon-image {
    height:80px;
    width: 80px;  
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .map{
    height: 250px;
  }  
}
