.picture-container {
  align-items: center;
  justify-content: center;
}

.about-picture {
  vertical-align: middle;
  width: 25%;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

h6 {
  font-family: 'Fira Sans', 'sans-serif';
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
}

.about-text {
  text-align: center;
  h6 {
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: justify;
}
}
