.front-page {
  
  height: 100vh;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  .img { max-width: 100%; height: auto; }

  h1 {
    text-shadow: 1px 2px 0px white, -2px 1px 30px white;
    font-weight: bold;
    font-size: 45px;
  }

  p {
    text-shadow: 2px 2px 0px white, -1px 1px 30px white;
    font-weight: bold;
    font-size: 24px;    
  }
}

.white-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  font-weight: bold;
  float:right;
  margin-right: 10px;
  border-radius: 5px;
  text-shadow: 1px 0px 10px black;
  &:hover {
    background-color: white;
    color: grey;
    text-shadow: none;
  }
}

a {
  color: white;
  font-size: 100%;
}

.date-p {
  font-size: 20px !important;
}

.cont-white{
  border-top: 4px solid white;
  opacity: 1;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
}
.pont-white{
  opacity: 1;
  background-color: rgba(0,0,0,0);
  border-top: 2px dotted white;
  border-radius: 5px;
}

.title{
  text-shadow: 1px 2px 0px white, -2px 1px 30px white;
  font-weight: bold;
  font-size: 40px; 
  color: #013b8b;
}

.title-h3{
  text-shadow: 1px 2px 0px white, -2px 1px 30px white;
  font-weight: bold;
  font-size: 35px; 
  color: #013b8b;
}

.title-img{
  height: 55px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sobre{
  font-size: 18px;
}

/* base */
.slider {
	position: relative;
	height: 300px;
	width: 100%;
	overflow:hidden;
  button {
    cursor: pointer;
    margin-right: 8px;
    border:none;
    border-radius: 4px;
    padding:10px;
    background-color: #3066BE;
    color:#FFF;
    transition: all 0.5s;
  }
  button:last-child {margin-right: 0;}
  button:hover {background-color: #60AFFF;}
  button:focus {outline: none;}
}

.slider-content {
	position: relative;		
	width: 100%;
}

.slider-content-wrapper {
	display: flex;
	height:300px;
	transition: transform 0.5s ease-in-out;
}

/*Слайд*/
.slider-content__item {
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-size: 100px;
	color: rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-1 {
  background-image: image-url('carrousel_1.jpg');
  opacity: 0.6;
}
.image-2 {
  background-image: image-url('carrousel_2.png');
  opacity: 0.6;
}
.image-3 {
  background-image: image-url('carrousel_3.jpg');
  opacity: 0.6;
}
.image-4 {
  background-image: image-url('carrousel_4.png');
  opacity: 0.6;
}
.image-5 {
  background-image: image-url('carrousel_5.jpg');
  opacity: 0.6;
}
.image-6 {
  background-image: image-url('carrousel_6.png');
  opacity: 0.6;
}


.slider-controls {
	padding:20px;
	text-align: center;
}

.slider-content__controls {
	position:absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	z-index:1;
	/*transform: translateY(-50%);*/
	/*padding:0 15px;*/
}

/* Arrows */
.prev-arrow, .next-arrow {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:rgba(0,0,0, 0.3);
	width: 20px;
	transition: all 0.3s;
}
.prev-arrow {left: 20px;}
.next-arrow {right: 20px;}

.prev-arrow:hover,
.next-arrow:hover {
	cursor: pointer;
	color:rgba(0,0,0, 0.7);
}

/* Dots */
.dots {
	position:absolute;
	display: flex;
	left:50%;
	transform: translateX(-50%);
	bottom:10%;
}

.dot {
	cursor: pointer;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	background-color: rgba(0,0,0, 0.3);
	/*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
	border-radius: 50%;
	transition:all 0.3s;
}

.dot:last-child {margin-right: 0;}
.dot:hover {background-color: #fff;}
.dot--active {background-color: rgba(255,255,255, 0.5);}



/* Mods */
.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}

.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}


.title-footer{
  text-shadow: 1px 2px 0px white, -2px 1px 30px white;
  font-weight: bold;
  font-size: 30px; 
  color: #013b8b;
}
.tab-note{
  display: block;
}
.tab-cell{
  display: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .front-page {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 15px;    
    }
  }
  .title{
    font-size: 35px;
    margin-bottom: 5px;
  }
  .title-footer{
    font-size: 20px;
  }

  .title-img{
    height: 45px;
  }
  .sobre{
    font-size: 14px;
  }
  h6 {
    font-size: 14px !important;
  }
  .slider {
    height: 200px;
  }
  
  .slider-content-wrapper {
    height:200px;
  }
  ul{
    padding-left: 0px !important;
  }
  .tab-note{
    display: none !important;
  }
  .tab-cell{
    display: block !important;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .front-page {
    h1 {
      font-size: 38px;
    }
    p {
      font-size: 17px;    
    }
  }
  .title{
    font-size: 37px;
    margin-bottom: 5px;
  }
  .title-footer{
    font-size: 25px;
  }
  .title-h3{
    font-size: 32px;
  }
  .title-img{
    height: 50px;
  }
  .sobre{
    font-size: 16px;
  }
  h6 {
    font-size: 16px !important;
  }
  .slider {
    height: 200px;
  }
  
  .slider-content-wrapper {
    height:200px;
  }
  ul{
    padding-left: 4px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 900px) {
  .front-page {
    h1 {
      font-size: 42px;
    }
    p {
      font-size: 20px;    
    }
  }
}


