.navbar {
  -webkit-transition: background-color 2s ease-in;
   -moz-transition: background-color 2s ease-in;
    -ms-transition: background-color 2s ease-in;
     -o-transition: background-color 2s ease-in;
        transition: background-color 2s ease-in;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
  color: white !important;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0.3);
  .text {
    margin-top: 10px;
    font-size: 100%;    
  }
  img{
    height: 35px;
    width: auto;
    margin-left: 10px;
  }
  h1{
    font-size: 18px;
    margin-bottom: 0px !important;
  }
}


.nav-item {
  a, div {
    color: white !important;;
    font-size: 17px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.75s;
    transition: border-bottom 0.75s;
    &:hover {
      border-bottom: 1px solid #3FAEFD;
      text-decoration: none;
    }
  }

}
.nav-link{
  padding: 0rem;  
}

.nav-bg {
  background-color:rgba(0, 0, 0, 0.3);
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.login-navbar {
  margin-right: 0px; 
}

.login-button{
  text-decoration: none !important;
}

.dropbtn {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 5px;
  display: none;
  position: absolute;
  z-index: -10000;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: white !important;
  &:hover{
    color: white !important;
    text-decoration: none  !important;
  }
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}


@media (min-width: 320px) { 
  .navbar {
    font-size:10px;
  } 
  .nav-img{
    height: 25px;
  }
} 
@media (min-width: 640px) { 
  .navbar {
    font-size:14px;
  } 
  .nav-img{
    height: 35px;
  }
} 
@media (min-width: 960px) { 
  .navbar {
    font-size:14px;
  } 
  .nav-img{
    height: 45px;
  }
} 
@media (min-width: 1100px) { 
  .navbar {
    font-size:14px;
  } 
  .nav-img{
    height: 45px;
  }
}

